@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background: #4d639f;
}

.container {
  max-width: 400px;
}

input[type=text],
input[type=text]:focus {
  color: #9abca4;
  border: none;
  background: rgba(0, 0, 0, 0.2);
  max-width: 400px;
}

.todos li {
  background-color: #9fb9a7;
  color: black;
}



.delete {
  cursor: pointer;
  color: rgb(47, 7, 158);
}

/* 見かけ上削除。実際には消してない */
.filtered {
  display: none !important;
}

li>.done {
  text-decoration: line-through;
  color: rgba(206, 195, 195, 0.9);
}